.book-btn
{
    background-color: #C49A3A;
    color: white;
    padding: 10px 70px ;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;

    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.04),
        0 12px 28px rgba(0, 0, 0, 0.06);
}
.cards-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.room-card
{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;
     border: 1px solid #C49A3A;
     border-radius: 10px;
     padding: 0 10px;
     padding-bottom: 10px;
     background-color: rgba(216, 157, 20, 0.060);
}
.room-card img
{
    width: 350px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}